@charset "UTF-8";

    * {
            padding: 0px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        img{
          
            width: 100vw;
        }
        a {
            display: block;
            color: white;
            background-color: darkred;
            padding: 20px;
            font-weight: bolder;
            font-weight: bolder;
            text-decoration: none;
            text-align: center;

        }

        a:hover{
            background-color: red;
        }